.apparition-enter {
  opacity: 0.01;
}

.apparition-enter.apparition-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.apparition-leave {
  opacity: 1;
}

.apparition-leave.apparition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loading-image {
  background: url(../../images/loading-image.png) no-repeat center;
}