.section {
  padding: 3.5rem 6.5rem 2rem 6.5rem;
  margin-right: 0; // Fixes right margin space
}

.sm-side-padding {
  padding: 0 3rem;
}

.md-side-padding {
  padding: 0 5rem;
}

.lg-side-padding {
  padding: 0 7rem;
}