.recommendation {
  border-radius: 18px;
  margin: 4rem;
}

.recommendation-tab {
  text-align: center;
  padding: 5rem;
  border: 1px solid $lightgrey;
  border-top: none;
}

.recommendation-container {
  height: 15rem;
  display: inline-table;
  display: initial;
}

.recommendation-results {
  padding: 5rem;
}

.recommendation-item {
  padding-left: 8px;
  padding-right: 8px;
  margin: 2rem 0;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  img {
    height: 250px;
  }
}