.no-padding {
  padding: 0 !important;
}

.padding-top {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.sm-margin-top {
  margin-top: .5rem;
}

.md-margin-top {
  margin-top: 1rem;
}

.lg-margin-top {
  margin-top: 2rem;

}

.nav-tabs.nav-justified>li>a {
  color: black;
}
