.search-container {
  text-align: center;
  margin: 1rem 0 4rem 0;

  #search-form {
    display: inline-flex;
    width: 60%;

    .search-input {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }
    .search-button {
      width: 7%;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;

    }
  }
}

.search-result {
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  img {
    max-width: 100%;
  }
  .search-row {
    width: 100%;
  }
}

.search-result-section {
  padding: 1rem 3rem;
}

