.slider-card {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  position: relative;
  img {
    height: 250px;
  }
}

.slider-carousel {
  white-space: nowrap;
  position: relative;
}

.slider-container {
  overflow: hidden;
}

.slider-row {
  width: 100%;
  padding: 0 4rem;
  margin: 0;
}

.right-arrow {
  width: 24px;
  position: absolute;
  display: block;
  right: -22px;
  top:  calc(50% + 18px);
}

.left-arrow {
  width: 24px;
  position: absolute;
  display: block;
  left: -2px;
  top:  calc(50% + 18px);
}